@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@font-face {
	font-family: "Noken";
	src: url("../public/fonts/Nokenregular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Noken";
	src: url("../public/fonts/Nokensemibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Noken";
	src: url("../public/fonts/Nokenbold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;
	--background: #ffffff;
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
	--font-syne: "Syne", sans-serif;
	--font-dm-sans: "DM Sans", sans-serif;
	--font-poppins: "Poppins", sans-serif;
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-text: #000000;
	--color-text2: #1d1e24;
	--color-text3: #111111;
	--color-text4: #18191c;
	--font-sans: var(--font-dm-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

/* 

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	.col {
		@apply flex flex-col;
	}
	.row {
		@apply flex flex-row;
	}
	.flex-center {
		@apply flex items-center justify-center;
	}
	.flex-between {
		@apply flex items-center justify-between;
	}
	.col-center {
		@apply flex flex-col items-center justify-center;
	}
}
@layer utilities {
	.gradient-border {
		border: 1px solid transparent;
		background: linear-gradient(45deg, #d8308d, #e770ab) border-box;
		mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
		-webkit-mask: linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		border-radius: inherit;
		@apply absolute inset-0;
	}
}
@layer layout {
	.main-container {
		@apply mx-auto px-4 xl:px-0 max-w-340;
	}
	.container {
		@apply mx-auto px-4 xl:px-0 max-w-303;
	}
	.hero-link {
		@apply bg-white/10 backdrop-blur-[35px] rounded-[14px] relative  flex items-center justify-center;
	}
	.hero-link::before {
		mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
		-webkit-mask: linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		border-radius: inherit;
		@apply border-[3px] border-transparent absolute inset-0;
		content: "";
		z-index: 1;
		background: linear-gradient(
				159deg,
				rgba(255, 255, 255, 1) 12.33%,
				rgba(255, 255, 255, 0.3) 34.31%,
				rgba(255, 255, 255, 0.3) 52.66%,
				rgba(255, 255, 255, 1) 74.67%
			)
			border-box;
		transition: all ease 0.3s;
	}
	.hero-link:hover {
		color: #ffffff;
		@apply bg-gradient-to-br from-[#1C1C1C] to-[#6A5F4A];
	}
	.hero-link:hover::before {
		background: linear-gradient(
				95.67deg,
				rgba(0, 0, 0, 0.8) 10.51%,
				rgba(0, 0, 0, 0.056) 111.31%
			)
			border-box;
	}
	.mix-blend-overlay {
		mix-blend-mode: overlay;
	}
	.next-btn,
	.prev-btn {
		@apply absolute rounded text-white w-9.75 h-[66px] flex justify-center items-center top-1/2 z-[50];
	}
	.prev-btn {
		@apply -translate-y-1/2 rotate-180 left-6;
	}
	.next-btn {
		@apply -translate-y-1/2 right-6;
	}
	.next-btn::before,
	.prev-btn::before {
		mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
		-webkit-mask: linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		border-radius: inherit;
		@apply border-[3px] border-transparent absolute inset-0;
		content: "";
		z-index: 1;
		background: linear-gradient(
				55deg,
				rgba(255, 255, 255, 1) 12.33%,
				rgba(255, 255, 255, 0.3) 34.31%,
				rgba(255, 255, 255, 0.3) 52.66%,
				rgba(255, 255, 255, 1) 74.67%
			)
			border-box;
		transition: all ease 0.3s;
	}
}

.linear-shad {
	background: linear-gradient(
		180deg,
		rgba(17, 17, 17, 0) 49.96%,
		#111111 100%
	);
}
html {
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}
body {
	@apply bg-background text-text font-dm-sans;
}

.font-noken {
	font-family: "Noken", sans-serif;
}
